version: '3.8'

services:
  app:
    build: .
    ports:
      - "8082:8082"
    environment:
      - CONFIG_PATH=./config/local.yaml
      - REDIS_ADDR=redis:6379 
    depends_on:
      - redis
    volumes:
      - ./storage:/app/storage

  redis:
    image: redis:7-alpine
    container_name: redis_cache
    ports:
      - "6379:6379"
    restart: always